@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

// COLORS
$color-black: #000000;
$color-white: #ffffff;

$color-main__regular: #323264;
$color-main__alt: #46466E;
$color-main__soft: #686887;

$color-accent: #F0145A;
$color-negative: #EC6F5D;


$color-active__regular: #24A3FF;
$color-active__hover: #0085FF;
$color-active__active: #006CCF;

$color-grey__bg: #F5F5FA;
$color-grey__bg-alt: #EDEDF7;
$color-grey__text: #B3B3BA;
$color-grey__separator: #E6E6F0;

$color-gradient__regular: (129deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$color-gradient__soft: (42deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$color-gradient__red: (323deg, #F0145A 6.7%, #693264 70.36%);
$color-gradient__super-soft: (229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$color-gradient__red-text: (90deg, #F0145A 0.84%, #EF8080 99.96%);
$color-gradient__red-text-reversed: (90deg, #EF8080 0.84%, #F0145A 99.96%);
$color-gradient__red-icon: (180deg, #EF8080 0%, #F0145A 100%);

// FONT

@mixin font-hero {
    font-family: "Montserrat";
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient($color-gradient__red-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
};

@mixin font-h2 {
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $color-main__regular;
};

@mixin font-h3 {
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $color-main__regular;
};

@mixin font-h3__caps {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-main__regular;
};

@mixin font-h4 {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $color-main__regular;
};

@mixin font-paragrapf {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    columns: $color-black;
};