@use "../scss/_color_font";

footer {
  background-color: #F5F5FA;
  padding-bottom: 30px;
}

.footer-separator{
  height: 2px;
  width: 100%;
  border: none;
  background-color: #E6E6F0;
  margin: 0;
  margin-bottom: 30px;
}

.footer-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}
.addres-on-map{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: row;
    min-width: 50%;
  }
}
.face-tel-mail{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 30px;
  @media (min-width: 768px) {
    flex-direction: row;
    padding: 0px;
    margin-top: 21px;
    order: 1;
  }
}
.addres {
  color: $color-main__regular;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.on-map {
  color: $color-active__regular;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.tell-text{
  color: $color-main__alt;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
}
.mail-addres{
  color: $color-active__regular;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.low-company {
  color: $color-grey__text;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (min-width: 768px) {
    text-align: end;
    min-width: 50%;
  }
}
.dot-6px{
  display: none;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $color-grey__text;
  @media (min-width: 768px) {
    display: block;
  }
}