@use "../scss/_color_font";

.hero-screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background:center no-repeat url(../image/hero_h.png);
  background-size: cover;
  justify-content: space-between;
  @media (min-width: 768px){
    background-size: contain;
  }
}
.header {
  display: none;
  @media (min-width:1024px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
  }
  @media (min-width:1600px) {
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
  }
}
.wrapper-nav-lang{
  display: flex;
  flex-direction: column;
}
.header-tablet{
  display: none;
  @media (min-width:768px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    padding: 50px 60px 0 60px;
    gap: 30px;
  }
}
.header-nav{
  display: flex;
  gap: 15px;
  & li a{
    color: var(--Basic-White, #FFF);
    text-align: right;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.wrapper-nav-lang{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
}
.header-nav-lang{
  display: flex;
  align-items: center;
  gap: 6px;
}
.address-header {
  color: $color-grey__text;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}
.header-mobile {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    display: none;
  }
}
.header-mobile-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: rgba(245, 245, 250, 0.20);
}
.lang-list {
  display: flex;
  gap: 2px;
  & a{
    color: $color-white;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 5px 7px;
    border-radius: 8px;
    align-self: center;
  }
  & a:nth-child(1) {
    padding-left: 0;
  }
  & .lang-list-item__active {
    background-color: $color-accent;
  }
}
.header-mob-tel{
  color: $color-white;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: center;
}
.header-mobile-bottom {
  display: flex;
  justify-content: space-between; align-items: center;
  height: 57px;
  padding: 0px 15px;
}
.header-hero-content {
  display: flex;
  align-self: center;
  min-width: 315px;
  padding: 0 15px;
}
.btn-scrol-down {
  display: flex;
  align-self: center;
  padding-bottom: 20px;
}
h1 {
  color: $color-white;
  text-align: center;
  font-family: Montserrat;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}