@use "../scss/_color_font";

.wrapper__white{
  // margin-left: auto;
  // margin-right: auto;
  // width: 315px;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .wrapper__white{
    // margin-left: auto;
    // margin-right: auto;
    // width: 648px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 1024px) {
  .wrapper__white{
    // margin-left: auto;
    // margin-right: auto;
    // width: 904px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 1440px) {
  .wrapper__white{
    // margin-left: auto;
    // margin-right: auto;
    // width: 1320px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 1920px) {
  .wrapper__white{
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
  }
}
.header__white{
  display: none;
  @media (min-width:1024px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  @media (min-width:1600px) {
    margin-left: auto;
    margin-right: auto;
    // width: 1600px;
  }
}
.lang-list__white {
  display: flex;
  gap: 2px;
  & a{
    color: $color-grey__text;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 5px 7px;
    border-radius: 8px;
    align-self: center;
  }
  & a:first-child {
    padding-left: 0;
  }
  & .lang-list-item__active {
    color: $color-white;
    background-color: $color-accent;
  }
}

.header-mob-tel__white {
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $color-grey__text;
}

.header-nav__white{
  display: flex;
  gap: 15px;
}

.nav-item {
  position: relative;
  color: $color-active__regular;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  &::after {
    display: none;
    content: "";
    position: absolute;
    background-color: $color-active__regular;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -3px;
  }

  &:hover::after {
    display: block;
  }
}

.nav-item__active{
  color: $color-accent;
  position: relative;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  &::after {
    content: "";
    position: absolute;
    background-color: $color-accent;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -3px;
  }
}

.header-mobile-top__white {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: $color-grey__text;
}

.block-publication {
  background: #F5F5FA;
}


.publication-cards{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  border-radius: 8px; 
}