@use "../scss/_color_font";

.hero {
  background: linear-gradient( $color-gradient__super-soft);
}

.services {
  position: relative;
  margin-bottom: 60px;
  &::after {
    content: "";
    position: absolute;
    background-color: #CACADB;
    left: 20px;
    right: 20px;
    bottom: -10px;
    height: 10px;
    border-radius: 0px 0px 12px 12px;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: #E7E7F2;
    left: 40px;
    right: 40px;
    bottom: -20px;
    height: 10px;
    border-radius: 0px 0px 12px 12px;
  }
}

.services-container{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
  // max-width: 1600px;
}

.title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.subtitle {
  @include font-h3__caps;
  color: $color-active__regular;
}

.title {
  @include font-hero;
}

.advantages-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages {
  display: flex;
  flex: 1 0 0;
  flex-grow: 1;
  flex-direction: column;
  min-width: 260px;
  max-width: 500px;
}

.advantages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 82px;
  padding: 14px;
  background-color: $color-white;
  border-radius: 24px;
  margin-bottom: 30px;
}

.advantages-title {
  @include font-h3;
  color: $color-active__regular;
  margin-bottom: 15px;
}

.advantages-paragraph {
  @include font-paragrapf;
  color: $color-white;
}

@media (min-width: 768px) {
  .advantages-container {
    flex-direction: row;
    gap: 60px;
  }
}

@media (min-width: 1024px) {
  .advantages {
    flex: 1 0 26%;
  }
}