@use "../scss/_color_font";

.team {
  margin-bottom: 60px;
}
.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.team-cards {
  display: flex;
  flex-wrap: nowrap;
}
.team-card {
  display: flex;
  flex-direction: column;
  @media (min-width: 1024px) {
    &{
      flex-direction: row;
    }; 
  }
}
.team-card_content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: $color-grey__bg;
}
.team-card-subtitle {
  @include font-h3__caps;
  color: $color-active__regular;
  margin-bottom: 5px
}
.team-card-title {
  @include font-h2;
  background: (linear-gradient( $color-gradient__red-text));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    &{
      @include font-hero;
    }; 
  }
}

.team-card-name {
  @include font-h4;
  color: #B3B3BA;
  margin-bottom: 6px;
}
.publication-card-position {
  color:  #B3B3BA;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
.team-img{
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  @media (min-width: 1024px) {
    &{
      max-width: 35%;
      // height: 200px;
      min-height: 300px;
    } 
  }
  @media (min-width: 1440px) {
    &{
      max-height: 500px;
    } 
  }
}
.team-dots {
  display: flex;
  gap: 15px;
}
.team-dot {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: $color-active__regular;
  opacity: 20%;
}
.team-dot__active {
  opacity: 100%;
}