@import "./normalize";
@import "../font/font.scss";
@import "./footer";
@import "./header";
@import "./icon-svg";
@import "./input";
@import "./news";
@import "./output";
@import "./slider";
@import "./grid-block";

html {
  scroll-behavior: smooth;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
}
.wrapper-for-absolute {
  margin-left: auto;
  margin-right: auto;
  width: 1220px;
}

.temlete-work {
  margin-top: 30px;
}

.opp {
  margin-top: 80px;
  margin-bottom: 80px;
}
